header {
    height: 100vh;
    padding-top: 7rem;
    overflow:hidden;
    background-image: url(../../assets/nice.jpeg);
    background-repeat: no-repeat;
    background-size: cover;
    object-fit: cover;
    /* background-position:50% 50%; */
    /* image-rendering: pixelated;  */
    /* image-rendering: -webkit-optimize-contrast; */

}

.header_container {
    text-align: center;
    height: 100%;
    position: cover;
    margin-top: 30px;
}

/*=======header_socials==========*/
.header_socials {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 0.8rem;
    position: absolute;
    left: 0;
    bottom: 3rem;
}

.header_socials::after {
    content: "";
    width: 1px;
    height: 2rem;
    background: var(--color-primary);
}

.me  {
    /* background: var(--color-primary); */
    width: 62rem;
    height: 30rem;
    position:absolute;
    left: calc(20%  1rem);
    margin-top: 1rem;
    margin-bottom: 2rem;
    overflow:hidden;
    padding: 5rem 1.5rem 1.5rem 1.5rem;
}

.scroll_down {
    position: absolute;
    right: -1.3rem;
    bottom: 5rem;
    transform: rotate(90deg);
    font-weight: 300;
    font-size: 0.9rem;
}

#logo {
   width: 100%;
   max-width: 100px;
   margin: 0 auto;
   color: var(--color-light); 
   display: flex;
   align-items: center;
   position: absolute;
   left: 1;
   bottom: 30rem;

}

.top {
    flex-direction: row;
    float: right;
    align-items: center;
    height: 70px;
    line-height: 70px;
    /* border: 1px  solid green; */
    /* margin-top: 0px; */
}

.top a {
    margin-bottom: 20px;
    padding: 5rem 1.5rem 1.5rem 1.5rem;
    
}