header {
    height: 100vh;
    padding-top: 7rem;
    overflow:hidden;
    /* background-image: url(../../assets/nice.jpeg);
    background-repeat: no-repeat;
    background-size: cover;
    object-fit: cover; */
    
}

.header_container {
    display: flex;
    justify-content: center;
    text-align: center;
    /* height: 100%; */
    bottom: 2rem;
    position: cover;
    margin-top: 8rem;
    width: 90%;
    /* border-top: 1px solid green; */
}

/* .header_container h1 h5 {
position: absolute;
border-bottom: 1px solid green;
top: 0;
} */

/*=======header_socials==========*/
.header_socials {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1.9rem;
    position: absolute;
    left: 0;
    bottom: 3rem;
    font-size: 1.2rem;
}

.header_socials::after {
    content: "";
    width: 1px;
    height: 2rem;
    background: var(--color-primary);
}

/* .me  {
    /* background: var(--color-primary); */
    /* width: 62rem;
    height: 30rem;
    position:absolute;
    left: calc(20%  1rem);
    margin-top: 1rem;
    margin-bottom: 2rem;
    overflow:hidden;
    padding: 5rem 1.5rem 1.5rem 1.5rem; */
/* } */ */

.scroll_down {
    position: absolute;
    right: 0;
    bottom: 5rem;
    transform: rotate(90deg);
    font-weight: 300;
    font-size: 0.9rem;
}

#logo {
   width: 100%;
   max-width: 150px;
   margin: 0 auto;
   color: var(--color-light); 
   display: flex;
   align-items: center;
   position: absolute;
   left: 0;
   top: 0;
   border: 1px solid green;
   bottom: 30rem;

}

.top {
    position:absolute;
    display: flex;
    flex-direction: row;
    align-items: center;
    height: 70px;
    top: 0;
    right: 0;
    line-height: 70px;
    font-size: 1rem;
    /* border: 1px  solid green; */
    /* margin-top: 0px; */
}

@media screen and (max-width: 600px){
    .top {
        width: 65%;
        margin: 0 auto 3rem;
    }
}


.top a {
    margin-bottom: 20px;
    color: white;
    padding: 5rem 1.5rem 1.5rem 1.5rem;
}


.top a:hover{
    color: green;
    transform: scale(1.4);
}
#vida {
    position: absolute;
    bottom: 0;
    width: 100%;
    z-index: -1;
    opacity: 0.3;
}